* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amethysta', sans-serif;
}

body {
    background: #E6D7BB;
}

header {
    background: #B3A078;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    color: #B3A078;
}

nav {
    background: #B3A078;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin-left: 20px; /* Add this line to move the logo to the left */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #5c4827;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: auto; /* Add this line to move the nav list to the right */
}

.nav-list li {
    margin: 0 10px;
    border-right: 1px solid #333;
    padding-right: 10px;
}

.nav-list li:last-child {
    border-right: none;
}

.nav-list a {
    color: #5c4827;
    text-decoration: none;  
}

.nav-list a:hover {
    opacity: 0.8;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.background1 {
    background-image: url('img/home1.jpg');
    background-size: cover;
    background-position: center;
    width: 33.33%;
    height: 50vh;
}

.background2 {
    background-image: url('img/home2.jpg');
    background-size: cover;
    background-position: center;
    width: 33.33%;
    height: 50vh;
}

.background3 {
    background-image: url('img/home3.jpg');
    background-size: cover;
    background-position: center;
    width: 33.33%;
    height: 50vh;
}

.top{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    color: #5c4827;
    z-index: 1;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 60px;
    opacity: .8;
}

.card {
    height: 250px;
    margin: 20px; 
    position: relative;
    width: 200px;
    display: inline-block;
    justify-content: space-between;
}

img {
    height: 250px;
    width: 200px;
    border-radius: 5px;
}

.intro {
    height: 100px;
    width: 200px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    
    color: white;
    bottom: 0;
    opacity: 0;
    background: none;
    
}

.card:hover .intro {
    opacity: 1;
}

h2{
    
        position: absolute;
        left: 70px; /* Add this line to move the h1 to the left side of the navbar */
        top: 7.5%;
        transform: translate(0, -50%);
        text-align: left; /* Update this line to left-align the text */
        color: #5c4827;
        z-index: 1;
        padding: 10px;    
        font-size: 20px;
        
}


footer{
    background-color: #B3A078;
}
.footerContainer{
    width: 100%;
    padding: 3px;
    flex-wrap: wrap;
}
.socialIcons{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: #5c4827;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: white;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer{
    color: #5c4827;
    padding: 5px;
    margin-right: 10%;
    font-weight: bold;
    margin-top: 3%;
   
}

.logo img {
    width: 40px; /* Reduce the width of the logo image */
    height: 40px; /* Reduce the height of the logo image */
    border-radius: 50%; /* Make the logo image circular */
    margin-right: 10px; /* Add some space between the logo and the text */
    vertical-align: middle; /* Vertically align the logo with the text */
}

h1{
    color: #B3A078;
    background: white;
    justify-content: center;
    text-align: center;

}

@media (max-width: 1024px) {
    /* Navigation responsiveness */
    .nav-list {
        flex-direction: column;
        margin-left: 0;
        text-align: center;
    }

    .nav-list li {
        margin: 10px 0;
        padding-right: 0;
        border-right: none;
    }

    .background1, .background2, .background3 {
        width: 100%;
        height: 40vh; /* Adjust height for smaller screens */
    }

    .top {
        font-size: 40px; /* Reduce font size for smaller screens */
    }

    .card {
        width: 150px;
        height: 200px;
    }

    .intro {
        height: 80px;
    }

    img {
        height: 200px;
        width: 150px;
    }

    /* Footer responsiveness */
    .footerContainer {
        flex-direction: column;
        align-items: center;
    }

    .socialIcons {
        margin-left: 0;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        margin-left: 0;
    }

    .nav-list li {
        margin: 5px 0;
    }

    .background1, .background2, .background3 {
        width: 100%;
        height: 30vh;
    }

    .top {
        font-size: 30px;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        width: 90%;
        height: auto;
    }

    img {
        width: 100%;
        height: auto;
    }

    /* Footer responsiveness */
    .footerContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .nav-list {
        flex-direction: column;
        margin-left: 0;
        text-align: center;
    }

    .background1, .background2, .background3 {
        width: 100%;
        height: 20vh; /* Further reduce height for mobile */
    }

    .top {
        font-size: 24px;
    }

    .card {
        width: 100%;
        margin: 10px 0;
    }

    img {
        width: 100%;
        height: auto;
    }

    .intro {
        width: 100%;
        height: auto;
    }

    /* Footer responsiveness */
    .footerContainer {
        flex-direction: column;
        text-align: center;
    }

    .socialIcons {
        justify-content: center;
    }
}

/* Hamburger Menu Icon for mobile */
.hamburger {
    display: none; /* Hidden by default */
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    margin-right: 20px;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: #5c4827;
    margin: 4px 0;
    border-radius: 2px;
}

/* Show hamburger menu on smaller screens */
@media (max-width: 1024px) {
    .hamburger {
        display: flex; /* Make it visible on smaller screens */
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        display: none; /* Hidden until hamburger is clicked */
        width: 100%;
        background-color: #B3A078;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 10;
        padding: 10px 0;
    }

    /* Display nav-list when active */
    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0;
        padding-right: 0;
        border-right: none;
        text-align: left;
        width: 100%;
        padding-left: 20px;
    }
}
